/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: hsl(0, 0, 0);
  --white: hsl(0, 0%, 100%);
  --red: hsl(0, 71%, 50%);
} */

body {
  background-image: url(./images/bc.jpeg);
}

header {
  background: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul {
  display: inline-flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 0;
}

nav > ul > li {
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
}

nav > ul > li > a:hover {
  border-bottom: 0.1rem solid var(--red);
  padding: 0.7rem 1.1rem;
  border-radius: 0.7rem;
  transition: 0.2s;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin: 4rem 0;
}

.my-imgCon {
  display: flex;
  justify-content: flex-end;
}

.my-imgCon .image1 {
  margin: 0;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .my-imgCon {
    justify-content: center;
  }
}

.image1 {
  margin: 2rem 0 0 13rem;
  border-top-left-radius: 50rem;
  border-top-right-radius: 50rem;
  border-bottom-left-radius: 50rem;
  border-bottom-right-radius: 50rem;
}

.taco {
  width: 50%;
  margin: 3rem;
  color: var(--white);
}

@media (max-width: 768px) {
  .taco {
    width: 80%;
    align-items: center;
  }
}

.taco > h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

@media (max-width: 1024px) {
  .taco h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .taco h1 {
    text-align: center;
  }
}

.me {
  color: var(--red);
}

.button {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.4rem;
  background: var(--red);
  color: var(--white);
  font-size: 1.2rem;
  width: fit-content;
}

.button:hover {
  background: brown;
  transition: 0.3s ease-in-out;
}

footer {
  margin: 5rem 0;
}
